* {
    margin: 0;
    padding: 0;
}

header,
nav {
    z-index: 10000 !important;
}

.title {
    font-size: 45px;
}

input + label {
    z-index: 0;
}

nav {
    background-color: #639fff;
    top: 0;
    position: fixed;
}

.brand-logo-png {
    height: 64px;
}

input:focus,
textarea:focus {
    border-bottom: 1px solid #639fff !important;
    box-shadow: 0 1px 0 0 #639fff !important;
}

input:focus + label,
textarea:focus + label {
    color: #639fff !important;
}

label[id=mail-adres-footer] {
    color: #ffffff;
}

input[id=mail-adres] {
    border-bottom: 1px solid #ffffff !important;
    box-shadow: 0 1px 0 0 #ffffff !important;
    color: #ffffff !important;
}

input[id=mail-adres]:focus {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5) !important;
}

input[id=mail-adres]:focus + label{
    color: rgba(255, 255, 255, 0.75) !important;
}

spotify {
    color: #1db954;
}

youtube {
    color: #ff0000;
}

mail {
    color: white;
    font-weight: bold;
}

a[class=mail] {
    color: white;
}

div[class=samp] {
    border-radius: 4px;
    padding: 1px 2px 0;
    border: 2px solid #639fff;
    background-color: rgba(0, 0, 0, 0.25);
}

samp {
    padding: 2px;
    padding-left: 4px;
}

voorbeeld-lied {
    color: #639fff;
}

.btn {
    background-color: #639fff;
}

.btn:hover {
    background-color: rgba(99, 159, 255, 0.75);
}

.btn[id=submit-mail] {
    background-color: #ffffff;
    color: #777777;
}

.btn[id=submit-mail]:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.card {
    background-color: #639fff;
}

.page-footer {
    background-color: #639fff;
}

#showUsers {
    border-radius: 4px;
    padding: 4px 8px 0;
    border: 2px solid #639fff;
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    .brand-logo-png {
        height: 56px;
    }
}